In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
population_df = pd.read_excel('/home/jovyan/WorldCupHostCities_Impact/data/population_data.xlsx')
population_df.head()

,SEXO,CÓD.,SIGLA,LOCAL,2000,2001,2002,2003,2004,2005,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Ambos,0,BR,Brasil,3423475,3347313,3274356,3212295,3163041,3123546,...,3012970,2948637,2883226,2920425,2885318,2777978,2688491,2597799,2527241,2484344
1,Ambos,0,BR,Brasil,3450022,3406966,3332612,3261091,3200484,3152623,...,2943154,3002376,2937001,2870232,2910089,2879163,2772134,2680031,2587620,2519770
2,Ambos,0,BR,Brasil,3461038,3444450,3401900,3327924,3256791,3196543,...,2907915,2936667,2995070,2928703,2863990,2906676,2876276,2767175,2673622,2583366
3,Ambos,0,BR,Brasil,3469109,3458052,3441638,3399284,3325501,3254582,...,2916787,2903600,2931742,2989393,2924609,2862071,2904924,2873055,2762809,2670309
4,Ambos,0,BR,Brasil,3477903,3466901,3455987,3439662,3397467,3323811,...,2898606,2913739,2900133,2927764,2986627,2923442,2861079,2902777,2869950,2760203

In [4]:
years = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,
         2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024]

population_df = population_df.groupby('LOCAL', as_index=False)[years].sum()
print(population_df.shape)
population_df.head()

(33, 26)

,LOCAL,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Acre,1174652,1210654,1247074,1283862,1320844,1357858,1394740,1431066,1467208,...,1653354,1672588,1688992,1703008,1715838,1727314,1736692,1745132,1753164,1761262
1,Alagoas,5765322,5837220,5902966,5963482,6019824,6072304,6120334,6162008,6201260,...,6362356,6375812,6386310,6400256,6417408,6429646,6435638,6436762,6437214,6440208
2,Amapá,1001932,1045346,1087406,1128214,1167928,1206548,1242856,1277682,1311438,...,1494100,1513896,1531116,1545568,1558936,1571066,1581742,1590914,1598248,1605674
3,Amazonas,5701436,5842698,5981664,6119700,6258098,6397864,6540572,6684342,6828522,...,7718220,7829132,7932664,8036966,8146560,8242452,8320026,8399582,8481142,8562418
4,Bahia,26441334,26679804,26906098,27122164,27330768,27533008,27722576,27900344,28074422,...,28940894,29054152,29157384,29265304,29386500,29497102,29576540,29622678,29657612,29701026

In [5]:
states = [
    "Acre", "Alagoas", "Amapá", "Amazonas", "Bahia", "Ceará",
    "Distrito Federal", "Espírito Santo", "Goiás", "Maranhão",
    "Mato Grosso", "Mato Grosso do Sul", "Minas Gerais", "Paraná",
    "Paraíba", "Pará", "Pernambuco", "Piauí", "Rio Grande do Norte",
    "Rio Grande do Sul", "Rio de Janeiro", "Rondônia", "Roraima",
    "Santa Catarina", "Sergipe", "São Paulo", "Tocantins"
]

population_df = population_df[population_df['LOCAL'].isin(states)]
print(population_df.shape)
population_df.head()

(27, 26)

,LOCAL,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Acre,1174652,1210654,1247074,1283862,1320844,1357858,1394740,1431066,1467208,...,1653354,1672588,1688992,1703008,1715838,1727314,1736692,1745132,1753164,1761262
1,Alagoas,5765322,5837220,5902966,5963482,6019824,6072304,6120334,6162008,6201260,...,6362356,6375812,6386310,6400256,6417408,6429646,6435638,6436762,6437214,6440208
2,Amapá,1001932,1045346,1087406,1128214,1167928,1206548,1242856,1277682,1311438,...,1494100,1513896,1531116,1545568,1558936,1571066,1581742,1590914,1598248,1605674
3,Amazonas,5701436,5842698,5981664,6119700,6258098,6397864,6540572,6684342,6828522,...,7718220,7829132,7932664,8036966,8146560,8242452,8320026,8399582,8481142,8562418
4,Bahia,26441334,26679804,26906098,27122164,27330768,27533008,27722576,27900344,28074422,...,28940894,29054152,29157384,29265304,29386500,29497102,29576540,29622678,29657612,29701026

In [6]:
population_growth_df = population_df.drop('LOCAL', axis=1)
population_growth_df =population_growth_df.pct_change(axis=1) * 100
population_growth_df.insert(0, "STATE", population_df['LOCAL'])

population_growth_df.drop(2000, axis=1, inplace=True)
print(population_growth_df.shape)
population_growth_df.head()

(27, 25)

,STATE,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Acre,3.064908,3.008291,2.949945,2.880528,2.802299,2.716190,2.604500,2.525530,2.326323,...,1.367338,1.163332,0.980756,0.829844,0.753373,0.668828,0.542924,0.485981,0.460252,0.461908
1,Alagoas,1.247077,1.126324,1.025180,0.944784,0.871786,0.790968,0.680911,0.637000,0.569046,...,0.277300,0.211494,0.164654,0.218373,0.267989,0.190700,0.093193,0.017465,0.007022,0.046511
2,Amapá,4.333029,4.023548,3.752784,3.520077,3.306711,3.009246,2.802095,2.641972,2.537367,...,1.517497,1.324945,1.137463,0.943887,0.864925,0.778095,0.679539,0.579867,0.460993,0.464634
3,Amazonas,2.477657,2.378456,2.307652,2.261516,2.233362,2.230557,2.198126,2.156981,2.085166,...,1.607319,1.437015,1.322394,1.314842,1.363624,1.177086,0.941152,0.956199,0.971001,0.958314
4,Bahia,0.901883,0.848185,0.803037,0.769127,0.739972,0.688512,0.641239,0.623928,0.602399,...,0.422190,0.391342,0.355309,0.370129,0.414129,0.376370,0.269308,0.155995,0.117930,0.146384

In [7]:
print("\nMissing Values per Column:")
missing_values = population_growth_df.isnull().sum()
missing_values[missing_values > 0]

Missing Values per Column:

Series([], dtype: int64)

In [8]:
world_cup_treatment = pd.Period("2014", freq="Y")

In [9]:
# Melt the DataFrame
population_df_melted = population_growth_df.melt(id_vars=["STATE"], var_name="Year", value_name="popchange")
print(population_df_melted.head())

      STATE  Year  popchange
0      Acre  2001   3.064908
1   Alagoas  2001   1.247077
2     Amapá  2001   4.333029
3  Amazonas  2001   2.477657
4     Bahia  2001   0.901883

In [10]:
population_df_melted['Year'] = pd.PeriodIndex(population_df_melted['Year'].astype(str), freq='Y')

In [11]:
population_df_melted['post_treatment'] = (population_df_melted['Year'] > world_cup_treatment).astype(int)

In [12]:
host_states = [
    "São Paulo","Rio de Janeiro","Amazonas","Distrito Federal",
    "Bahia","Ceará","Pernambuco","Rio Grande do Sul",
    "Paraná","Rio Grande do Norte","Mato Grosso","Minas Gerais"    
]

non_host_states = [
    "Acre","Alagoas","Amapá",           
    "Maranhão","Mato Grosso do Sul","Espírito Santo",  
    "Goiás","Paraíba","Pará","Piauí",           
    "Rondônia","Roraima","Santa Catarina",  
    "Sergipe","Tocantins"        
]

In [13]:
# Create the treatment_group variable
population_df_melted['treatment_group'] = (population_df_melted['STATE'].isin(host_states)).astype(int)

In [14]:
population_df_melted.sample(10)

                   STATE  Year  popchange  post_treatment  treatment_group
60      Distrito Federal  2003   2.340379               0                1
288  Rio Grande do Norte  2011   0.763642               0                1
423  Rio Grande do Norte  2016   0.610202               1                1
132              Sergipe  2005   1.361220               0                0
153  Rio Grande do Norte  2006   1.222455               0                1
642             Rondônia  2024   0.343168               1                0
189                 Acre  2008   2.525530               0                0
521                Goiás  2020   1.226627               1                0
295            São Paulo  2011   0.786780               0                1
135                 Acre  2006   2.716190               0                0

In [15]:
formula = 'popchange ~ post_treatment + treatment_group + post_treatment*treatment_group'

In [16]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [17]:
model = smf.ols(formula, data=population_df_melted)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              popchange   R-squared:                       0.198
Model:                            OLS   Adj. R-squared:                  0.194
Method:                 Least Squares   F-statistic:                     53.04
Date:                Sat, 30 Nov 2024   Prob (F-statistic):           1.20e-30
Time:                        21:55:32   Log-Likelihood:                -657.92
No. Observations:                 648   AIC:                             1324.
Df Residuals:                     644   BIC:                             1342.
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                          1.5208      0.046     32.895      0.000       1.430       1.612
post_treatment                    -0.6009      0.072     -8.390      0.000      -0.742      -0.460
treatment_group                   -0.4639      0.069     -6.689      0.000      -0.600      -0.328
post_treatment:treatment_group     0.1516      0.107      1.411      0.159      -0.059       0.363
==============================================================================
Omnibus:                      262.696   Durbin-Watson:                   1.859
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1147.728
Skew:                           1.835   Prob(JB):                    5.94e-250
Kurtosis:                       8.389   Cond. No.                         6.19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [24]:
gdp_df = pd.read_excel('/home/jovyan/WorldCupHostCities_Impact/data/GDP.xlsx')
gdp_df.rename(columns={'Unnamed: 0': 'State'}, inplace=True)
gdp_df

,State,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Rondônia,7467.629889,9425.010484,11004.641436,12511.821180,13054.713345,14438.376501,1.728554e+04,1.972501e+04,2.390789e+04,...,3.112141e+04,3.403098e+04,3.656333e+04,3.946036e+04,4.351615e+04,4.491398e+04,4.709134e+04,5.159874e+04,5.817010e+04,6.679545e+04
1,Acre,2971.301278,3377.234250,3784.002574,4300.581272,4661.806951,5458.172175,6.410255e+03,7.407821e+03,8.342356e+03,...,1.147393e+04,1.345870e+04,1.362280e+04,1.375424e+04,1.427294e+04,1.533112e+04,1.563002e+04,1.647637e+04,2.137444e+04,2.367614e+04
2,Amazonas,22093.338008,25862.134091,31090.695799,33980.876529,39933.212630,43479.773087,4.811526e+04,5.055984e+04,6.087712e+04,...,8.305123e+04,8.666864e+04,8.656818e+04,8.903978e+04,9.324019e+04,1.001092e+05,1.081811e+05,1.160191e+05,1.315310e+05,1.451405e+05
3,Roraima,2392.032670,2594.080872,2822.756978,3193.430418,3802.452110,4203.302126,4.841862e+03,5.671975e+03,6.639150e+03,...,9.010725e+03,9.744122e+03,1.024291e+04,1.101324e+04,1.210471e+04,1.336999e+04,1.429223e+04,1.602428e+04,1.820258e+04,2.109534e+04
4,Pará,26482.158869,30270.151867,37272.725891,40522.893481,45983.026808,51846.876321,6.095698e+04,6.166510e+04,8.268452e+04,...,1.212248e+05,1.245849e+05,1.308995e+05,1.381075e+05,1.552324e+05,1.613496e+05,1.783770e+05,2.159356e+05,2.629050e+05,2.361419e+05
5,Amapá,3173.342677,3413.195152,3824.739762,4306.410132,5280.821942,6012.522851,6.950413e+03,7.490656e+03,8.237795e+03,...,1.276349e+04,1.340028e+04,1.386129e+04,1.434214e+04,1.548191e+04,1.679521e+04,1.749666e+04,1.846911e+04,2.009985e+04,2.361429e+04
6,Tocantins,5322.562910,6612.339052,7251.579975,7707.339689,8655.613318,10192.843992,1.211639e+04,1.368980e+04,1.640482e+04,...,2.379666e+04,2.618932e+04,2.893029e+04,3.158482e+04,3.410813e+04,3.566618e+04,3.935594e+04,4.364980e+04,5.178076e+04,5.820880e+04
7,Maranhão,15924.002510,19502.900088,22127.131812,25104.209287,29710.643032,30730.865771,3.793240e+04,4.099457e+04,4.630963e+04,...,6.769484e+04,7.684203e+04,7.847599e+04,8.531004e+04,8.954276e+04,9.817950e+04,9.733994e+04,1.069160e+05,1.249807e+05,1.397891e+05
8,Piauí,7122.634622,8414.900523,9406.460757,10711.834496,13360.478485,13736.084552,1.620334e+04,1.894645e+04,2.226915e+04,...,3.128359e+04,3.772350e+04,3.914969e+04,4.141694e+04,4.536554e+04,5.037842e+04,5.278078e+04,5.639126e+04,6.402830e+04,7.283450e+04
9,Ceará,28718.840356,32687.418274,36890.816201,41059.459217,46500.320742,50818.749021,6.041557e+04,6.719996e+04,7.933630e+04,...,1.090366e+05,1.260545e+05,1.306298e+05,1.384225e+05,1.479215e+05,1.559038e+05,1.635753e+05,1.669145e+05,1.948848e+05,2.136007e+05
10,Rio Grande do Norte,13566.803385,14865.441493,17252.398422,19966.918071,22890.123703,26318.258519,2.889886e+04,3.094105e+04,3.618450e+04,...,5.151846e+04,5.402258e+04,5.725087e+04,5.967739e+04,6.430600e+04,6.696956e+04,7.133678e+04,7.157711e+04,8.018073e+04,9.381929e+04
11,Paraíba,12747.021189,14737.919519,15757.831548,17557.226324,20838.016357,22909.811461,2.688957e+04,3.023041e+04,3.352249e+04,...,4.637730e+04,5.293648e+04,5.614189e+04,5.910478e+04,6.239678e+04,6.437360e+04,6.798607e+04,7.029203e+04,7.747033e+04,8.609417e+04
12,Pernambuco,36056.031629,38815.845291,44982.684109,50240.325200,55485.293015,62459.325002,7.041394e+04,7.976096e+04,9.718976e+04,...,1.411503e+05,1.551426e+05,1.569637e+05,1.673450e+05,1.816095e+05,1.863520e+05,1.978534e+05,1.933073e+05,2.208135e+05,2.458280e+05
13,Alagoas,11536.852889,12624.030217,14044.907467,15484.521448,17395.670948,19871.265907,2.226229e+04,2.418239e+04,2.713304e+04,...,3.728253e+04,4.097499e+04,4.636721e+04,4.946874e+04,5.285107e+04,5.441305e+04,5.896373e+04,6.320235e+04,7.626562e+04,7.606581e+04
14,Sergipe,10332.493911,11749.573695,13336.257997,14430.118492,16419.797847,18218.449649,2.141838e+04,2.170724e+04,2.640489e+04,...,3.533599e+04,3.747243e+04,3.855653e+04,3.887744e+04,4.071149e+04,4.201798e+04,4.468948e+04,4.540966e+04,5.186140e+04,5.737224e+04
15,Bahia,58842.975943,67174.226864,77931.724709,88291.882630,95347.801934,109329.527530,1.216675e+05,1.379425e+05,1.544195e+05,...,2.048443e+05,2.239300e+05,2.450437e+05,2.587390e+05,2.687241e+05,2.862395e+05,2.932405e+05,3.053208e+05,3.526179e+05,4.026466e+05
16,Minas Gerais,124071.066401,144189.093826,171870.933849,188364.435566,212659.547199,240355.238652,2.786076e+05,2.874438e+05,3.511234e+05,...,4.880049e+05,5.166340e+05,5.193312e+05,5.448105e+05,5.763755e+05,6.148758e+05,6.518727e+05,6.827861e+05,8.575932e+05,9.067307e+05
17,Espírito Santo,27048.996551,31519.105782,39732.638402,47020.587604,53463.868454,60658.394972,7.209116e+04,6.921536e+04,8.531028e+04,...,1.172743e+05,1.287838e+05,1.203660e+05,1.092644e+05,1.133999e+05,1.370201e+05,1.373456e+05,1.384459e+05,1.863365e+05,1.825486e+05
18,Rio de Janeiro,184310.915240,202640.788574,241206.738200,269830.061003,299738.183007,323698.285515,3.782858e+05,3.916509e+05,4.498581e+05,...,6.282261e+05,6.710768e+05,6.591390e+05,6.404012e+05,6.716057e+05,7.588590e+05,7.799279e+05,7.538237e+05,9.493008e+05,1.153512e+06
19,São Paulo,518878.815172,591454.031626,652955.557509,743042.944439,824529.299058,935653.179993,1.042510e+06,1.127094e+06,1.294696e+06,...,1.715238e+06,1.858196e+06,1.939902e+06,2.038757e+06,2.120762e+06,2.210562e+06,2.348338e+06,2.377639e+06,2.719751e+06,3.130333e+06
20,Paraná,88235.714979,110039.414399,123451.529536,127464.507460,137648.310670,165208.890963,1.856839e+05,1.966756e+05,2.252053e+05,...,3.334812e+05,3.480842e+05,3.769628e+05,4.018142e+05,4.214979e+05,4.400294e+05,4.663770e+05,4.879306e+05,5.499731e+05,6.146108e+05
21,Santa Catarina,54481.893223,64098.474687,73618.965921,81549.243693,91063.448617,103728.092246,1.214773e+05,1.290985e+05,1.537260e+05,...,2.145122e+05,2.425534e+05,2.490796e+05,2.567547e+05,2.772702e+05,2.982271e+05,3.232639e+05,3.492750e+05,4.285709e+05,4.662741e+05
22,Rio Grande do Sul,98847.210894,119325.398660,131192.206296,136362.768610,147622.599258,168009.752060,1.902298e+05,2.043449e+05,2.412492e+05,...,3.322927e+05,3.578164e+05,3.819926e+05,4.087895e+05,4.232700e+05,4.572940e+05,4.824642e+05,4.709418e+05,5.812837e+05,5.936337e+05
23,Mato Grosso do Sul,16440.423924,21846.566335,23372.308186,23725.258361,26667.893813,30084.765198,3.621926e+04,3.951774e+04,4.727066e+04,...,6.920320e+04,7.895013e+04,8.308255e+04,9.189229e+04,9.639643e+04,1.069691e+05,1.069432e+05,1.226277e+05,1.422038e+05,1.664073e+05
24,Mato Grosso,19190.652531,26697.096881,33388.670163,34257.054626,30700.164570,38027.578417,4.920251e+04,5.269342e+04,5.660096e+04,...,8.921292e+04,1.012345e+05,1.074183e+05,1.238803e+05,1.268459e+05,1.374429e+05,1.421220e+05,1.786496e+05,2.333902e+05,2.555273e+05
25,Goiás,38629.364582,45557.889209,51103.815351,53865.112563,61375.402650,71410.567722,8.241756e+04,9.286574e+04,1.067701e+05,...,1.513002e+05,1.650153e+05,1.736325e+05,1.817596e+05,1.919483e+05,1.956817e+05,2.086725e+05,2.241261e+05,2.696279e+05,3.185861e+05
26,Distrito Federal,53902.199799,58456.124319,67076.505202,75732.681210,84661.405538,93404.000766,1.102996e+05,1.243238e+05,1.441741e+05,...,1.759067e+05,1.974321e+05,2.156129e+05,2.355400e+05,2.447222e+05,2.548172e+05,2.736137e+05,2.658473e+05,2.869438e+05,3.287896e+05

In [25]:
# Melt the DataFrame
gdp_df_melted = gdp_df.melt(id_vars=["State"], var_name="Year", value_name="GDP")
print(gdp_df_melted.head())

      State  Year           GDP
0  Rondônia  2002   7467.629889
1      Acre  2002   2971.301278
2  Amazonas  2002  22093.338008
3   Roraima  2002   2392.032670
4      Pará  2002  26482.158869

In [26]:
gdp_df_melted['Year'] = pd.PeriodIndex(gdp_df_melted['Year'].astype(str), freq='Y')

In [27]:
gdp_df_melted['post_treatment'] = (gdp_df_melted['Year'] > world_cup_treatment).astype(int)

In [28]:
# Create the treatment_group variable
gdp_df_melted['treatment_group'] = (gdp_df_melted['State'].isin(host_states)).astype(int)

In [29]:
gdpformula = 'GDP ~ post_treatment + treatment_group + post_treatment*treatment_group'

In [30]:
gdpmodel = smf.ols(gdpformula, data=gdp_df_melted)
results = gdpmodel.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    GDP   R-squared:                       0.241
Model:                            OLS   Adj. R-squared:                  0.237
Method:                 Least Squares   F-statistic:                     59.49
Date:                Sat, 30 Nov 2024   Prob (F-statistic):           2.04e-33
Time:                        22:12:07   Log-Likelihood:                -7960.0
No. Observations:                 567   AIC:                         1.593e+04
Df Residuals:                     563   BIC:                         1.595e+04
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                       4.018e+04    2.1e+04      1.909      0.057   -1164.811    8.15e+04
post_treatment                  6.111e+04   3.41e+04      1.792      0.074   -5875.920    1.28e+05
treatment_group                 2.027e+05    3.3e+04      6.148      0.000    1.38e+05    2.68e+05
post_treatment:treatment_group  2.298e+05   5.34e+04      4.302      0.000    1.25e+05    3.35e+05
==============================================================================
Omnibus:                      540.950   Durbin-Watson:                   1.631
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            16948.081
Skew:                           4.309   Prob(JB):                         0.00
Kurtosis:                      28.360   Cond. No.                         5.98
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [19]:
years_before_worldcup = [2001,2002,2003,2004,2005,2006,
                         2007,2008,2009,2010,2011,2012,2013]

population_growth_before_worldcup = population_growth_df[years_before_worldcup]
population_growth_before_worldcup.insert(0, "STATE", population_df['LOCAL'])

population_growth_before_worldcup.head()

,STATE,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Acre,3.064908,3.008291,2.949945,2.880528,2.802299,2.716190,2.604500,2.525530,2.326323,1.911759,1.744004,1.711027,1.535593
1,Alagoas,1.247077,1.126324,1.025180,0.944784,0.871786,0.790968,0.680911,0.637000,0.569046,0.428154,0.336694,0.322962,0.328393
2,Amapá,4.333029,4.023548,3.752784,3.520077,3.306711,3.009246,2.802095,2.641972,2.537367,2.175927,1.860734,1.723138,1.686222
3,Amazonas,2.477657,2.378456,2.307652,2.261516,2.233362,2.230557,2.198126,2.156981,2.085166,1.886182,1.709537,1.695615,1.691736
4,Bahia,0.901883,0.848185,0.803037,0.769127,0.739972,0.688512,0.641239,0.623928,0.602399,0.465607,0.351971,0.389093,0.407015

In [20]:
# Reshape the DataFrame from wide to long format
long_df = population_growth_before_worldcup.melt(id_vars=['STATE'], var_name='YEAR', value_name='POPULATIONGROWTH')
long_df['YEAR'] = long_df['YEAR'].astype(int)  # Convert years to integers

# Separate host and non-host states
host_states_population_before_worldcup = long_df[long_df['STATE'].isin(host_states)]
non_host_states_population_before_worldcup = long_df[long_df['STATE'].isin(non_host_states)]

print(host_states_population_before_worldcup.shape)
print(non_host_states_population_before_worldcup.shape)

(156, 3)
(195, 3)

In [21]:
for idx, host_state in enumerate(host_states_population_before_worldcup['STATE'].unique()):
    print(idx, host_state)

0 Amazonas
1 Bahia
2 Ceará
3 Distrito Federal
4 Mato Grosso
5 Minas Gerais
6 Paraná
7 Pernambuco
8 Rio Grande do Norte
9 Rio Grande do Sul
10 Rio de Janeiro
11 São Paulo

In [22]:
import numpy as np
import matplotlib.pyplot as plt

# Calculate rows dynamically
rows = (num_host_states + 2) // 3

fig, axes = plt.subplots(rows, 3, figsize=(18, 6 * rows), sharey=True)

# Flatten axes to a 1D array for consistent indexing
axes = np.array(axes).flatten()

# Keep track of handles and labels for a combined legend
handles = []
labels = []

for id, state in enumerate(host_states_population_before_worldcup['STATE'].unique()):
    ax = axes[id]
    
    # Filter data for the specific host state
    host_data = host_states_population_before_worldcup[host_states_population_before_worldcup['STATE'] == state]
    
    # Plot host state population growth
    host_line, = ax.plot(host_data['YEAR'], host_data['POPULATIONGROWTH'], 
                         linewidth=2, label=f'Host: {state}')
    
    # Add to legend tracking (only add once per type)
    if not any(lbl == host_line.get_label() for lbl in labels):
        handles.append(host_line)
        labels.append(host_line.get_label())
    
    # Plot non-host states for comparison
    for non_host_state in non_host_states_population_before_worldcup['STATE'].unique():
        non_host_data = non_host_states_population_before_worldcup[non_host_states_population_before_worldcup['STATE'] == non_host_state]
        non_host_line, = ax.plot(non_host_data['YEAR'], non_host_data['POPULATIONGROWTH'], 
                                 linestyle='--', alpha=0.6, label=f'Non-host: {non_host_state}')
        
        # Add to legend tracking (only add once per type)
        if not any(lbl == non_host_line.get_label() for lbl in labels):
            handles.append(non_host_line)
            labels.append(non_host_line.get_label())
    
    # Set title and labels for clarity
    ax.set_title(state)
    ax.set_xlabel("Year")
    ax.set_ylabel("Population Growth")
    
# Hide unused subplots
for id in range(len(host_states_population_before_worldcup['STATE'].unique()), len(axes)):
    axes[id].axis('off')

# Create a single legend outside the subplots
fig.legend(handles, labels, loc='upper center', bbox_to_anchor=(0.5, -0.05), ncol=3, fontsize="small")

plt.tight_layout()
plt.show()

NameError: name 'num_host_states' is not defined